/**
 * Call To Action
 */

.in-cta {
    h4 {
        color: #ffffff;
    }

    h2 {
        color: #ffffff;
    }

    p {
        color: #ffffff;
    }
    .in-button{
        margin-top: 20px;
    }
}